body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.5px;
	background-color:#c8dad3;
	background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
	min-height: 1000px;
	overflow: hidden;
}

img {
  border-radius: 50%;
  height: 100px;
  width: auto;
  margin: 5px 0 10px 0;
  
}

 a{
	color: black;
	text-decoration: none;
	font-size: 16px;
}

a:hover { 
  color: #ff8246;
}

.button {
  background-color: #525252;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
}

.container{
	width: 80%;
	margin: auto;
	text-align: center;
}

header{
	background: #E4E9FD;
	padding-top: 30px;
	min-height: 60px;
	border-bottom: #aee7e8 3px solid;

}

header h1{
	margin: 30px;
  	font-family: 'Lobster', cursive;
  	text-shadow: 5px 0 #232931;
  	font-size: 50px;
  	color: #ff7a8a;
  	padding-bottom: 10px;
}

navbar ul{
	margin: 0;
	padding: 10px 0 10px 0;
}

navbar li{
	display: inline;
	padding: 0 30px 0 30px;
}

#motto{
	padding-top: 15px;
	color: grey;
}

.highlighted{
	color: blue;

}

.form-signin{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-signin .form-control{
	position: relative;
	height: auto;
	padding: 10px;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 7px;
}

.dropdownButton {
	padding-top: 5px;
  	position: relative;
  	display: inline-block;
}

.dropdown-list {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	padding: 12px 16px;
  	z-index: 1;
}

.dropdownButton:hover .dropdown-list {
  display: block;
}

.dropdown-list a{
	display: inline;
	padding: 0 10px 0 10px;
}

#no-account-prompt{
	color: red;
}

footer{
	padding: 10px;
	margin-top: 5px;
	text-align: center;
	font-size: 15px;
}